.layout-block {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  cursor: pointer;
}

.down-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-cards {
  border-radius: 5px;

  padding: 10px;
  height: 9rem;

  display: flex;
  flex-direction: column;
}

.block-info {
  margin: 0;
}
