#root {
  display: flex;
  justify-content: center;
}

.App {
  width: 400px;
}

.flex-gap {
  display: flex;
  // justify-content: space-between;
  gap: 0.5rem;

  // & > * {
  //   flex: 1;
  // }
}


.between {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;

  & > * {
    flex: 1;
  }
}

.mar-0 {
  margin: 0 !important;
}

.pad-0 {
  padding: 0 !important;
}

.pad-inline-05 {
  padding-inline: 0.5rem;
}

.pad-inline-0 {
  padding-inline: 0 !important;
}

.p-1 {
  padding: 14px !important;
}

.full-width {
  flex: 1;
  width: 100%;
}

.form-margin {
  margin-block: 0.5rem;
  // margin-inline: 3rem;
}

.form-button {
  margin-block: 1rem;
}

.auth-form {
  width: 90%;
  margin-inline: auto;
}