:root {
  // --color-primary-rgb: 30, 215, 96 !important;
  --message-chat-block: #ebebeb;
  --message-chat-dark-block: #161616;
}

#root {
  display: flex;
  justify-content: center;
}

.App {
  width: 400px;
}

.flex-gap {
  display: flex;
  width: 100%;
  gap: 1rem;

  // & > * {
  //   flex: 1;
  // }
}

.apsolute-bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 3;
}

.between {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;

  & > * {
    flex: 1;
  }
}

.mar-0 {
  margin: 0 !important;
}

.pad-0 {
  padding: 0 !important;
}

.pad-inline-05 {
  padding-inline: 0.5rem;
}

.pad-inline-0 {
  padding-inline: 0 !important;
}

.pad-1 {
  padding: 12px !important;
}

.full-width {
  flex: 1;
  width: 100%;
}

.form-margin {
  margin-block: 0.5rem;
  // margin-inline: 3rem;
}

.form-button {
  margin-block: 1rem;
}

.auth-form {
  width: 90%;
  margin-inline: auto;
}

.block-title {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--color-text-title);
}

.block-caption {
  margin-top: 0.125rem;
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--color-text-subtitle);
}